/*
:root {
    /*primary/main colour*/
--clr-primary-1: #49a6e9;
/*dark shades of primary colour*/
--clr-primary-2: hsl(205, 86%, 17%);
--clr-primary-3: hsl(205, 77%, 27%);
--clr-primary-4: hsl(205, 72%, 37%);
--clr-primary-5: hsl(205, 63%, 48%);
/*light shades of primary colour*/  
--clr-primary-6: hsl(205, 89%, 70%);
--clr-primary-7: hsl(205, 98%, 76%);
--clr-primary-8: hsl(205, 86%, 81%);
--clr-primary-9: hsl(205, 90%, 88%);
--clr-primary-10: hsl(205, 100%, 96%);
/*darkest grey used for headings*/
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/*grey used for paragraph headings
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10: hsl(209, 36%, 96%);
--clr-white: #fff;
--clr-red-light: hsl(360, 71%, 66%);
--clr-red-dark: hsl(360, 67%, 44%);
--clr-green-light: hsl(125, 71%, 66%);
--clr-green-dark: hsl(125, 67%, 44%);
--clr-black: #222;
}
*/

:root {
    /* primary/main colour */
    --clr-primary: #0af;
    --clr-primary: hsl(200, 100%, 50%)

    /*in order to enable a concept of darkening or lightening the brand colour the 3 channels of the hsl colour value need to be extracted into their own custom properties*/
    --clr-primary-hue: 200;
    --clr-primary-saturation: 100%;
    --clr-primary-lightness: 50%;

    /*text colours*/
    --clr-text1: hsl(200 100% 90%);
    --clr-text2: hsl(var(--clr-primary-hue), 30%, 30%);

    /*surface colours*/
    --clr-surface1: hsl(var(--clr-primary-hue), 25%, 90%);
    --clr-surface2: hsl(var(--clr-primary-hue), 20%, 99%); 
    --clr-surface3: hsl(var(--clr-primary-hue), 20%, 92%); 
    --clr-surface4: hsl(var(--clr-primary-hue), 20%, 85%);

    /*shadows*/
    --surface-shadow: var(--clr-primary-hue), 10%, 20%;
    --shadow-strength: .03;

}