:root{
    --junglemist: hsl(185.45, 8.8%, 75.49%);
    --bunker: hsl(210, 7.5%, 15.69%);
    --gainsboro: hsl(0, 0%, 86.27%) ;
    --smalt: hsl(223.36, 91.95%, 58.43%);
    --nobel: hsl(0, 0%, 59.22%);
    --towergrey: hsl(150, 1.22%, 64.31%);
    --bombay: hsl(60, 1.12%, 70.2%);
    --denim: hsl(218.78, 74.55%, 43.14%);
    --gunpowder: hsl(240, 0.65%, 30%);
    --malibu: hsl(206.02, 60.43%, 63.33%);
    --stack: hsl(120, 0.43%, 54.71%);
    --dimgray: hsl(0, 0%, 42.35%);




}